---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="Portafolio Web">
	<main class="mx-auto max-w-5xl">
		<Header/>
	</main>
</Layout>

<style>
	
</style>
