---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="Portafolio Web">
	<Header/>
	<main >
		central
		
	</main>
	<footer>
		Pie de Pagina
	</footer>
	
</Layout>

<style>
	
</style>
