<header class="flex justify-between p-5 text-white">
  <div>Logo</div>
  <nav>
    <ul class="flex justify-evenly gap-10">
      <li><a href="">Home</a></li>
      <li><a href="">Home</a></li>
      <li><a href="">Home</a></li>
      <li><a href="">Home</a></li>
    </ul>
  </nav>
</header>